@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  --color-background: bisque;
}

body{
  background-color: var(--color-background);
  padding: 5rem;
  width: 100vw;
}

header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 3rem;
  background-color:var(--color-background);
  box-shadow: -6rem -6rem teal;  z-index: 1;
}

/* div:has(pre){
 
} */

pre{
  font-family: 'Beth Ellen', serif;
  padding: 0.5rem;
  font-size: 2.5rem;
  overflow: scroll;
  white-space: nowrap;
  animation: typing 5s forwards;
}

@keyframes typing{
  from{ width: 0 }
  to{ width: 100% }
}


h1, h2, h3, h4, h5, h6{
  font-family:  'Beth Ellen', cursive;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 130%;
}

h1{
  font-size: 4rem;
  padding: 2rem 0 4rem 0;
}

h2{
  font-size: 3rem;
  padding-top: 1rem;
}

h3{
  font-size: 2rem;
  font-family: 'American Typewriter', cursive;
  margin-top: 4rem;
}

p, ul{
  font-family: 'American Typewriter', cursive;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 3;
}

ul{
  list-style: square inside;
}

section{
  display: block;
  padding: 1rem 8rem;
  margin: 10rem 10rem;
  min-width: fit-content;
  height: 100%;
  background-image: url('https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTAzLmpwZw.jpg');
  /* background-color: gold; */
  box-shadow:  0 0.5rem 1rem grey;
}

img{
  position: relative;
  top: -15rem;
  transform: translate(50%, 50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.handwritten{
  font-family: 'Beth Ellen', serif;
  font-size: 3rem;
}