@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  --color-background: bisque;
}

body{
  background-color: var(--color-background);
  padding: 5rem;
}

header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 1rem;
  background-color:var(--color-background);
  z-index: 1;
}

#byline{
  padding: 0.5rem;
  font-size:3rem;
  overflow: scroll;
  white-space: nowrap;
  animation: typing 5s forwards;
}

@keyframes typing{
  from{ width: 0 }
  to{ width: 100% }
}

h1, h2, h3, h4, h5, h6{
  font-family:  'Beth Ellen', cursive;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 130%;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
  padding-top: 2rem;
}

h3{
  font-size: 2rem;
}

p, ul{
  font-family: 'American Typewriter', cursive;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 3;
}

ul{
  list-style: square inside;
}

section{
  /* display: flex; */
  padding: 2rem 6rem;
  margin: 0rem 10rem;
  /* background-color: gold;
  opacity: 0.7; */
  background-image: url('https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTIwNDk4OS1pbWFnZS1rd3Z5M2R1Yy5qcGc.jpg');
  background-size: cover;

  /* border: 0.3rem solid darkslateblue; */
  box-shadow:  0 0.5rem 1rem grey;
}

img{
  transform: translate(50%, 50%);
}
